/* You can add global styles to this file, and also import other style files */
nav {
    background-color: transparent;
    color: black;
}

a {
    color: black;
}
.input-group {
    margin-bottom: 15px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
.content {
    min-height: 100vh;
  }
.page-footer
{
    color: white;
    background-color: rgb(32, 32, 32);
}
  

  