/* You can add global styles to this file, and also import other style files */
nav {
    background-color: transparent;
    color: black;
}

a {
    color: black;
}
.input-group {
    margin-bottom: 15px;
  }
  