<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/logo.png">
</div>
<div class="row">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li><a style="color:black;" routerLink="/" class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a style="color:black;" routerLink="/login" class="" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a></li>
        <li><a style="color:black;" routerLink="/cats" class="" routerLinkActive="active" *ngIf="!auth.loggedIn">Cats</a></li>
        <li><a style="color:black;" routerLink="/register" class="" routerLinkActive="active" *ngIf="!auth.loggedIn">   Register </a></li>
        <li><a style="color:black;" routerLink="/account" class="" routerLinkActive="active" *ngIf="auth.loggedIn">  Account ({{auth.currentUser.username}})</a></li>
        <li><a style="color:black;" routerLink="/admin" class="" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin"> Admin</a></li>
        <li><a style="color:black;" routerLink="/logout" class="" routerLinkActive="active" *ngIf="auth.loggedIn">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>