<div class="body" style="height:100%">
  <header>
      <!-- The content below is only a placeholder and can be replaced. -->
      <div style="text-align:center">
        <h4>
            Welcome to {{ title }} customer device tracker! 
        </h4>
        <a style="color:black;" routerLink="/" class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img width="300" alt="Angular Logo" src="../assets/logo.png">
        </a> 
      </div>
    <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="">
          </div>
          <a href="#!user"><img class="circle" src=""></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a style="color:black;" routerLink="/login" class="" routerLinkActive="active" *ngIf="!auth.loggedIn">Staff Login</a></li>
        <li><div class="divider"></div></li>
        <li><a style="color:black;" routerLink="/logout" class="" routerLinkActive="active" *ngIf="auth.loggedIn">Logout</a></li>
        <li><a style="color:black;" routerLink="/tracker" class="" routerLinkActive="active" *ngIf="auth.loggedIn">Jobs</a></li>
        <li><a style="color:black;" routerLink="/register" class="" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">Register</a></li>
      </ul>
    </header>
    <main>
      <div class="row">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
</div>

