<app-toast [message]="toast.message"></app-toast>

<div class="card center">
  <h4 class="card-header">Register</h4>
  <div class="card-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-field" [ngClass]="setClassUsername()">
        <span class="input-field"><i class="fa fa-user"></i></span>
        <input class="" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="input-field" [ngClass]="setClassEmail()">
        <span class="input-field"><i class="fa fa-envelope"></i></span>
        <input class="" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="input-field" [ngClass]="setClassPassword()">
        <span class="input-field"><i class="fa fa-key"></i></span>
        <input class="" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <select class="browser-default" name="role" formControlName="role">
        <option value="" selected disabled>Role</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
    </form>
  </div>
</div>
