<div class="col s6">
    <app-toast [message]="toast.message"></app-toast>

    <div class="card">
      <h4 class="card-header">Register</h4>
      <div class="">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <h3>Track your device</h3>
          <div class="input-field col s6">
            <input placeholder="Job Order No" id="job_order_no" type="text" class="validate">
            <label for="job_order_no">Job Order No:</label>
          </div>
          <div class="input-field">
              <button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-user-plus"></i> Search</button>
          </div>
        </form>
      </div>
    </div>
</div>